

.loginAnSignup{
    @include Dfx_JCc_AIc;

    form{
        background-color: $color_40;
        // border: solid 1px $color_60;
        padding: 20px;
        border-radius: 20px;
        @include Dfx_JCc_AIc;
        flex-direction: column;

        .error{
            color: $color_10;
            margin-bottom: 10px;
        }

        label{
            width: 100%;
            margin-top: 10px;
        }
        input{
            padding: 5px;
            text-align: center;
            border-radius: 10px;
            width: 100%;
            border: none;
        }
        button{
            background-color: $color_30;
            color: $color_50;
            padding: 10px;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            border: none;

            &:hover{
                background-color: $color_10;
                color: $color_30;
            }
        }

        p{
            font-size: 12px;
            a{
                color: $color_30;
                text-decoration: underline;
            }
        }
    }
}