$color_60: black;
// $color_60_opo: rgba(20, 33, 61, 0.802);

$color_50: white;
$color_40: rgb(234, 234, 234);

$color_30: red;
// $color_30_opo: rgba(139, 0, 0, 0.506);

$color_20: skyblue;

$color_10: goldenrod;
// $color_10_opo: rgba(0, 100, 0, 0.58);

$bg_shadow_1: 4px 4px 4px #232323a0;
$bg_shadow_1_hover: 0px 0px 0px #232323a0;

$txt_color_light: $color_10;
$txt_color_dark: $color_60;
// $txt_color_shadow: $color_60_opo;

$txt_shadow_1: 4px 4px 4px #000;
$txt_shadow_1_hover: 0px 0px 0px #000;